﻿@using MedicInfoControl.Models
@model MedicInfoControl.Models.Customer
@{
  Layout = "~/Views/Shared/_BodyPage.cshtml";
}
@using (Html.BeginForm()) {
  @Html.AntiForgeryToken()
  @Html.HiddenFor(model => model.id)
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <div class="form-horizontal">
    <div class="col-md-12">
      @* Ерөнхий мэдээлэл *@
      <div class="col-md-6">
        <fieldset class="fieldd ">
          <legend class="legend">Ерөнхий мэдээлэл:</legend>
          <div class="form-group" id="divCode">
            @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
              @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "number" } })
              @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
              <p style="margin:-30px 0 0 -8px; position:absolute; font-weight:900;" class="text-danger">*</p>
            </div>
          </div>
          <div class="form-group" id="divFamilyName">
            @Html.LabelFor(model => model.familyName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
              @Html.EditorFor(model => model.familyName, new { htmlAttributes = new { @class = "form-control", id = "familyName", @placeholder = "Утга оруулна уу !" } })
              @Html.ValidationMessageFor(model => model.familyName, "", new { @class = "text-danger" })
              <p style="margin:-30px 0 0 -8px; position:absolute; font-weight:900;" class="text-danger">*</p>
            </div>
          </div>
          <div class="form-group" id="divLastName">
            @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
              @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", id = "lastName", @placeholder = "Утга оруулна уу !" } })
              @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
              <p style="margin:-30px 0 0 -8px; position:absolute; font-weight:900;" class="text-danger">*</p>
            </div>
          </div>
          <div class="form-group" id="divFirstName">
            @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
              @if (TempData["type"] != null) {
            if (TempData["type"].ToString() == "edit") {
              @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        } else {
          @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", id = "firstName", @placeholder = "Утга оруулна уу !" } })
    }
  } else {
    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", id = "firstName", @placeholder = "Утга оруулна уу !" } })
}
              @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
              <p style="margin:-30px 0 0 -8px; position:absolute; font-weight:900;" class="text-danger">*</p>
            </div>
          </div>
          <div class="form-group" id="divRegNumber">
            @Html.LabelFor(model => model.regNumber, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
              @if (TempData["type"] != null) {
            if (TempData["type"].ToString() == "edit") {
              @Html.EditorFor(model => model.regNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "regNumber" } })
        } else {
          @Html.EditorFor(model => model.regNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "xxxxxxxxxx", id = "regNumber" } })
    }
  } else {
    @Html.EditorFor(model => model.regNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "xxxxxxxxxx", id = "regNumber" } })
}
              @Html.ValidationMessageFor(model => model.regNumber, "", new { @class = "text-danger" })
              <p style="margin:-30px 0 0 -8px; position:absolute; font-weight:900;" class="text-danger">*</p>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-md-6">
        <div class="col-md-12">
          <fieldset class="fieldd ">
            <legend class="legend">Хаяг:</legend>
            <div class="form-group" id="divProvince">
              @Html.LabelFor(model => model.province, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-6">
                @Html.DropDownListFor(model => model.province, Model.provincListBox, "", new { @class = "form-control province select2", @id = "provinceId" })
                @Html.ValidationMessageFor(model => model.province, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group" id="divDistrict">
              @Html.LabelFor(model => model.district, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-6">
                @Html.DropDownListFor(model => model.district, Model.districtListBox, new { @class = "form-control select2 district", @id = "districtId" })
                @Html.ValidationMessageFor(model => model.district, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group" id="divAddress">
              @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-6">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "addressID", @placeholder = "Утга оруулна уу !" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-12 mt-2">
          <fieldset class="fieldd">
            <legend class="legend">Холбоо барих:</legend>
            <div class="form-group" id="divMobilePhone">
              @Html.LabelFor(model => model.mobilePhone, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-6">
                @Html.EditorFor(model => model.mobilePhone, new { htmlAttributes = new { @class = "form-control", id = "mobilePhone", @placeholder = "Утга оруулна уу !" } })
                @Html.ValidationMessageFor(model => model.mobilePhone, "", new { @class = "text-danger" })
                <p style="margin:-30px 0 0 -8px; position:absolute; font-weight:900;" class="text-danger">*</p>
              </div>
            </div>
            <div class="form-group" id="divEmail">
              @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-6">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "email", @placeholder = "Утга оруулна уу !" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      @*<div class="tab-pane active">
      <fieldset class="relInfoID col-md-12" style="margin-top:20px; width:100%;">
        @Html.Action("CreateCustomerInfo", "Customer", new { id = Model.id })
      </fieldset>
    </div>*@
      <input type="button" name="button" id="my-button" class="button1" value="Register Relevant" />
      <div id="dialog" title="" style="overflow: hidden;"></div>
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-responsive" style="width:100%" id="example">
          <thead>
            <tr>
              <th>Нэр</th>
              <th>Регистр</th>
              <th>Төрсөн огноо</th>
              <th>Нас / хүйс</th>
              <th>Хамаарал</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Бат Дорж</td>
              <td>АА99887766</td>
              <td>1990/01/01</td>
              <td>29</td>
              <td>ах</td>
            </tr>
            <tr>
              <td>Наран Сандаг</td>
              <td>ББ99887766</td>
              <td>1995/01/01</td>
              <td>24</td>
              <td>эхнэр</td>
            </tr>
          </tbody>
        </table>
      </div>
      @*@Html.Action("CreateCustomerRelInfo", "Customer", new { id = Model.id })*@
    </div>
  </div>
  <div class="box-footer">
    <div class="box-footer col-md-12">
      <input type="submit" value="Хадгалах" class="btn btn-success pull-right" />
      <button type="button" class="btn btn-danger pull-right mr-2" onclick="history.back();">Буцах</button>
    </div>
  </div>
}
<script type="text/javascript">
  $(document).ready(function () {
    $('#example').DataTable();

    $('.province').change(function () {
      $('#districtId').empty();
      $.ajax({
        type: "POST",
        url: "/Customer/DistrictProvinceId",
        datatype: "Json",
        data: { provinceCode: $('.province').val() },
        success: function (data) {
          $.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.id + '">' + value.number + ') ' + value.number1 + '</option>');
          });
        }
      });
    });
  });

  $(function () {
        $('#dialog').dialog({
            autoOpen: false,
            width: 800,
            resizable: false,
            title: '',
            modal: true
        });

        $('#my-button').click(function () {
            $('#dialog').load("@Url.Action("CreateCustomerInfo")",
                    function (response, status, xhr) {
                        $('#dialog').dialog('open');
                    });
        });
    });
</script>
