﻿@model IEnumerable<MedicInfoControl.Models.Customer>
@using System.Collections.Generic;
@{
  Layout = "~/Views/Shared/_BodyPage.cshtml";
}

  <h3>Эмчлүүлэгч</h3>
<table class="table table-bordered table-hover table-responsive" style="width:100%" id="cusId">
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(model => model.code)</th>
      <th>@Html.DisplayNameFor(model => model.firstName)</th>
      <th>@Html.DisplayNameFor(model => model.regNumber)</th>
      <th>@Html.DisplayNameFor(model => model.address)</th>
      <th>@Html.DisplayNameFor(model => model.email)</th>
      <th>@Html.DisplayNameFor(model => model.mobilePhone)</th>
      <th>Үйлдэл</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script type="text/javascript">
 var table;
  $(document).ready(function () {
    table = $('#cusId').DataTable({
      "dom": 'lBfrtip',
      language: {
        select: {
          rows: {
            _: "Нийт %d мөр сонгогдсон байна.",
            0: " ",
            1: "%d мөр сонгогдсон байна."
          }
        }
      },
      "serverSide": true,
      "processing": true,
      "select": true,
      "ajax":
      {
        "url": "/Customer/GetList",
        "type": "POST",
        "datatype": "json",
        error: function (xhr, error, code) {
          console.log(xhr);
          console.log(code);
        }
      },
      "columns": [
        { "data": "code", width: '5%' },
        { "data": "firstName", width: '15%' },
        { "data": "regNumber", width: '3%' },
        { "data": "address", width: '20%' },
        { "data": "email" },
        { "data": "mobilePhone" },
        {
          "data": "id",
          "render": function (data, type, row) {
            return '<a href=\"/Customer/CreateCustomer?id=' + row.id + '\" class="fa fa-pencil-square-o icon-background1"></a> <a href=\"/Customer/DeleteCustomer/' + data + '\" data-id="' + row.id + '" class="DeleteSuccess fa fa-trash-o fa-ring icon-background1"></a>';
          }
        }
      ],
      deferRender: true,
      buttons: [
        {
          text: 'Шинэ   <i class="fa fa-plus"></i>',
          action: function (e, dt, button, config) {
            window.location.href = '/Customer/CreateCustomer';
          }
        }
      ]
    });
  });
</script>

