﻿@using MedicInfoControl.Models
@using MedicInfoControl.ViewModel
@using MedicInfoControl.Controllers
@model MedicInfoControl.Models.MedicineUse
@{
  Layout = "~/Views/Shared/_BodyPage.cshtml";
  FModelContext fmx = new FModelContext();
  UtilController utl = new UtilController();
  IEnumerable<SelectListItem> cusList = utl.GetAllCustomer();
  List<SelectListItem> _list = new List<SelectListItem>() {
    new SelectListItem() {Text="Эрчимт эмчилгээ шат", Value="0"},
    new SelectListItem() { Text="Үргэлжлэх эмчилгээний шат", Value="1"} };
}

@using (Html.BeginForm()) {
  @Html.AntiForgeryToken()

<div class="form-horizontal">
  <h4>Эмийн бүртгэл</h4>
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <div class="form-group">
    @Html.LabelFor(model => model.medicineNameMng, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.medicineNameMng, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.medicineNameMng, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.medicineNameEng, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.medicineNameEng, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.medicineNameEng, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.medicineUnit, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.medicineUnit, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.medicineUnit, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.treatmentName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.treatmentName, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.treatmentName, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.frequencyMed, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.frequencyMed, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.frequencyMed, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Хадгалах" class="btn btn-default" />
    </div>
  </div>
</div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>
