﻿@model IEnumerable<MedicInfoControl.Models.MedicineUse>
@using System.Collections.Generic;
@{
  Layout = "~/Views/Shared/_BodyPage.cshtml";
}

  <h3>Эмийн бүртгэл</h3>
<table class="table table-bordered table-hover table-responsive" style="width:100%" id="cusId">
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(model => model.medicineNameMng)</th>
      <th>@Html.DisplayNameFor(model => model.medicineNameEng)</th>
      <th>@Html.DisplayNameFor(model => model.medicineUnit)</th>
      <th>@Html.DisplayNameFor(model => model.treatmentName)</th>
      <th>@Html.DisplayNameFor(model => model.frequencyMed)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script type="text/javascript">
  var table;
  $(document).ready(function () {
    table = $('#cusId').DataTable({
      "dom": 'lBfrtip',
      buttons: [
        {
          text: 'Шинэ   <i class="fa fa-plus"></i>',
          action: function (e, dt, button, config) {
            window.location.href = '/MedicineUse/CreateMedicineUse';
          }
        }
      ],
      language: {
        select: {
          rows: {
            _: "Нийт %d мөр сонгогдсон байна.",
            0: " ",
            1: "%d мөр сонгогдсон байна."
          }
        }
      },
      "serverSide": true,
      "processing": true,
      "select": true,
      "ajax":
      {
        "url": "/MedicineUse/GetList",
        "type": "POST",
        "datatype": "json"
      },
      "columns": [
        { "data": "medicineNameMng", width: '*' },
        { "data": "medicineNameEng", width: '*%' },
        { "data": "medicineUnit", width: '10%' },
        { "data": "treatmentName", width: '10%' },
        { "data": "frequencyMed", width: '10%' },
        {
          "data": "medicineId",
          "render": function (data, type, row) {
            return '<a href=\"/MedicineUse/CreateMedicineUse?id=' + data + '\" class="fa fa-pencil-square-o icon-background1"></a> <a href=\"/MedicineUse/DeleteMedicine/' + data + '\" data-id="' + row.id + '" class="DeleteSuccess fa fa-trash-o fa-ring icon-background1"></a>';
          }
        }
      ],
      deferRender: true,
    });
  });
</script>
