﻿@{
  ViewBag.Title = "Сүрьеэ өвчин";
}

<head>
  <script>
    $(function () {
      $("#tabs").tabs();
    });
  </script>
</head>
<body>
  <form>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Өвчин үүсэх шалтгаан</a></li>
        <li><a href="#tabs-2">Шинж тэмдэг</a></li>
      </ul>
      <div id="tabs-1">
        <fieldset>
          <legend>Өвчин үүсэх шалтгаан:</legend>
          Сүрьеэ өвчин нь нэгээс нөгөөд амьсгалын замаар халдварладаг. Уушгины хэлбэрийн сүрьеэтэй өвчтэй хүнийг ярих, ханиах, найтаахад эргэн тойронд нь их хэмжээний сүрьеэгийн нян тархаж байдаг. Өвчтөнтэй ойр байсан хүмүүс уг нян агуулсан агаараар амьсгалснаар халдвар авдаг. Шинэ эзний биед нянгийн үржих тохиромжтой хэсэг нь уушги юм. Уушгинаас нян цусаар дамжин бусад эрхтэн системд очдог. Уушгины хэлбэрийн сүрьеэ нь халдвартай ба бусад эрхтэний сүрьеэ нь халдваргүй. Уушгины хэлбэрийн сүрьеэтэй өвчтөнтэй ойр байгаа хүмүүс халдвар авах боломж их байдаг. /Үүнд гэр бүлийн гишүүд, найз нөхөд, хамт ажиллагсад гэх мэт/ Сүрьеэгийн нянгийн халдвар авсан хүн болгон сүрьеэгээр өвчлөхгүй. Энэ нь хүний дархлалын систем буюу биеийн эсэргүүцэлтэй ихээхэн холбоотой. Хүмүүсийн дархлал нь өвчин үүсгэгч нянгийн идэвхжлийг зогсоон удаан хугацаагаар хяналтандаа барьж байдаг. Гэвч ямар нэг хүчин зүйлийн нөлөөгөөр дархлалын систем нь суларвал идэвхгүй байсан сүрьеэгийн нян идэвхтэй үржиж өвчнийг үүсгэнэ.

          Сүрьеэ өвчин үүсэхэд:

          Нийгэм болон орчны эрүүл ахуйн таагүй байдал
          Хоол тэжээлийн дутагдалСтресс
          Жирэмслэлт
          Дагалдах өвчнүүдтэй байх (Чихрийн шижин, ходоод гэдэсний шархлаа өвчин, уушигны өвчин, хавдар) зэрэг олон хүчин зүйлс нөлөөлдөг.
        </fieldset>
      </div>
      <div id="tabs-2">
        <fieldset>
          <legend>Шинж тэмдэг:</legend>
          Халдвартай буюу уушигны хэлбэрийн сүрьеэгийн үед илрэх үндсэн шинж тэмдэг нь:

          2 ба түүнээс дээш долоо хоногоор ханиалгах
          Цэр болон цустай цэр гарах
          Цээжээр өвдөх
          Бусад буюу биеийн ерөнхий шинж тэмдэг:

          Бие сульдах, амархан ядардаг болох
          Хооллох дур багасах,
          Жин буурах, богино хугацаанд турах
          Шөнөөр хөлрөх
          Халуурах
        </fieldset>
      </div>
    </div>
  </form>
</body>

