﻿@{
    ViewBag.Title = "Home Page";
}
<script>
  window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
      exportEnabled: true,
      animationEnabled: true,
      title: {
        text: "Дvvргийн хэмжээнд нийт 150 хvн"
      },
      legend: {
        cursor: "pointer",
        itemclick: explodePie
      },
      data: [{
        type: "pie",
        showInLegend: true,
        toolTipContent: "{name}: <strong>{y}%</strong>",
        indexLabel: "{name} - {y}%",
        dataPoints: [
          { y: 20, name: "Эмчлилгээнд байгаа", exploded: true },
          { y: 70, name: "Эдгэсэн" },
          { y: 10, name: "Нэмэлт эмчилгээ" }
        ]
      }]
    });
    chart.render();
  }

  function explodePie(e) {
    if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
      e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
    } else {
      e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
    }
    e.chart.render();

  }
</script>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Customer/IndexCustomer">Үйлчлүүлэгчийн мэдээлэл &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <p><a class="btn btn-default" href="~/TreatmentSchedule/Index">Эмчилгээний хуваарь &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="#">Хавьталын мэдээлэл &raquo;</a></p>
    </div>
</div>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>