﻿@model MedicInfoControl.Models.MedicineSchedule

@using (Html.BeginForm("CreateAndEdit", "TreatmentSchedule", FormMethod.Post)) {
  @Html.AntiForgeryToken()
  @Html.HiddenFor(model => model.id)
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-horizontal">
  <h3>Эмчилгээний хуваарь</h3>
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <div class="form-group">
    @Html.LabelFor(model => model.medicineName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.DropDownListFor(model => model.medicineId, Model.medListBox, new { @class = "form-control select2 district", @id = "districtId" })
      @Html.ValidationMessageFor(model => model.medicineName, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.customerName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.DropDownListFor(model => model.vodUserId, Model.cusListBox, new { @class = "form-control select2 district", @id = "districtId" })
      @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.startDt, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.startDt, new { htmlAttributes = new { @class = "form-control datepicker" } })
      @Html.ValidationMessageFor(model => model.startDt, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.endDt, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.endDt, new { htmlAttributes = new { @class = "form-control datepicker" } })
      @Html.ValidationMessageFor(model => model.endDt, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Save" class="btn btn-default" />
    </div>
  </div>
</div>
}

<div>
  @Html.ActionLink("Back", "Index")
</div>

<script>
  $(function () {
    $(".datepicker").datepicker().datepicker("setDate", new Date());
  });
</script>