﻿@model IEnumerable<MedicInfoControl.Models.MedicineSchedule>

@{
  Layout = "~/Views/Shared/_BodyPage.cshtml";
}

  <h3>Эмчилгээний хуваарь</h3>
<table class="table table-bordered table-hover table-responsive" style="width:100%" id="cusId">
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(model => model.customerName)</th>
      <th>@Html.DisplayNameFor(model => model.startDt)</th>
      <th>@Html.DisplayNameFor(model => model.endDt)</th>
      <th>Үйлдэл</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<script type="text/javascript">
 var table;
  $(document).ready(function () {
    table = $('#cusId').DataTable({
      "dom": 'lBfrtip',
      language: {
        select: {
          rows: {
            _: "Нийт %d мөр сонгогдсон байна.",
            0: " ",
            1: "%d мөр сонгогдсон байна."
          }
        }
      },
      "serverSide": true,
      "processing": true,
      "select": true,
      "ajax":
      {
        "url": "/TreatmentSchedule/GetList",
        "type": "POST",
        "datatype": "json"
      },
      "columns": [
        { "data": "customerName", width: '*' },
        { "data": "startDts", width: '10%' },
        { "data": "endDts", width: '10%' },
        {
          "data": "id",
          "render": function (data, type, row) {
            return '<a href=\"/TreatmentSchedule/CreateAndEdit?id=' + data + '\" class="fa fa-pencil-square-o icon-background1"></a> <a href=\"/MedicineUse/DeleteSchedule/' + data + '\" data-id="' + row.id + '" class="DeleteSuccess fa fa-trash-o fa-ring icon-background1"></a><a href=\"/Calendar/Index/' + row.vodUserId + '\" data-id="' + row.vodUserId + '" class="DeleteSuccess fa fa-list fa-ring icon-background1"></a>';
          }
        , width: '10%'}
      ],
      deferRender: true,
      buttons: [
        {
          text: 'Шинэ   <i class="fa fa-plus"></i>',
          action: function (e, dt, button, config) {
            window.location.href = '/TreatmentSchedule/CreateAndEdit';
          }
        }
      ]
    });
  });
</script>


